ANTHROPIC_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=
OPENAI_API_KEY=
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
GOOGLE_OAUTH_CREDENTIALS=skills/calendar/oauth_credentials.json
CALENDAR_OWNER_ID=owner@gmail.com
CALENDAR_BOT_ID=chorgibot@gmail.com
