ANTHROPIC_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=
OPENAI_API_KEY=
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
GOOGLE_SERVICE_ACCOUNT_FILE=skills/calendar/service_account.json
CALENDAR_OWNER_ID=owner@gmail.com
CALENDAR_BOT_ID=chorgibot@gmail.com
